header {
	margin-top: calc(var(--offset) * 2);
	margin-bottom: calc(var(--offset) * 2);
}

nav {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: var(--offset);
}

.nav {
	&__logo {
		margin-right: auto;
	}

	&__logo a {
		display: flex;
		align-items: center;
		gap: calc(var(--offset) * 0.6);

		& img {
			width: calc(var(--offset) * 2);
			height: calc(var(--offset) * 2);
		}

		& span {
			font-weight: 500;
			font-size: calc(var(--fz) * 1.1);
			line-height: 120%;
			text-transform: capitalize;
			text-align: left;
			color: var(--color-bg-primary);
			max-width: 150px;
			width: 10ch;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	&__links {
		display: flex;
		align-items: center;
		gap: calc(var(--offset) * 0.6);
	}

	&__phone {
		display: flex;
		align-items: center;
		gap: calc(var(--offset) * 0.6);
		padding: calc(var(--offset) * 0.8);
		border-radius: 2em;
		background-color: #f1f4f8;

		& svg {
			width: 1.2em;
			height: 1.2em;
		}
	}

	&__bot {
		padding: calc(var(--offset) * 0.6) var(--offset) calc(var(--offset) * 0.8);
		border-radius: 2em;
		background-color: #f1f4f8;
		font-weight: 500;
		font-size: calc(var(--fz) * 1.1);
	}
}

.nav__phone:active {
	background-color: #a7b3c5;
}

.nav__bot:active {
	background-color: #a7b3c5;
}
