.shop {
	margin-bottom: var(--offset-grid);

	& h1 {
		font-weight: 600;
		font-size: calc(var(--fz) * 1.5);
		line-height: 120%;
		color: var(--color-text-primary);
		margin-bottom: 1em;
	}

	&-content {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: calc(var(--offset) * 2.5);
	}

	&-link {
		display: block;
		width: calc(var(--offset) * 6);
		height: calc(var(--offset) * 6);
		border-radius: 50%;
		overflow: hidden;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
