.slider {
	overflow: hidden;
	position: relative;
	margin-bottom: var(--offset);
}
.pagination {
	margin-top: var(--offset);
	position: absolute;
	z-index: 1;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	gap: 0.5em;

	& span {
		border-radius: 50%;
		width: 0.8em;
		height: 0.8em;
		background-color: #cccccc;
	}
}

.pagination .swiper-pagination-bullet-active {
	background-color: #fff;
}

.slider__wrapper {
	display: flex;
	width: 100%;
}

.slider__img {
	min-width: 100%;
	height: auto;
	object-fit: cover;
	overflow: hidden;
	border-radius: 1em;

	& img {
		width: 100%;
		height: auto;
	}
}
