<section class="points">

	<a href="./profile.html" class="points-count points-col1">
		<b>баллы</b>
		<svg width="9" height="17">
			<use xlink:href="#arrow-small"></use>
		</svg>
		<span>0</span>
	</a>

	<a href="./shop.html" class="choise">
		<h1>Выбирай и заказывай сейчас</h1>
		<span>
			<svg width="24" height="20">
				<use xlink:href="#arrow-right"></use>
			</svg>
		</span>
	</a>

	<a href="#" class="points-count points-col2">
		<b>Зови Друзей</b>
		<svg width="9" height="17">
			<use xlink:href="#arrow-small"></use>
		</svg>
		<p>Набирай баллы с помощью друзей</p>
	</a>

</section>
