<section class="slider swiper">

	<div class="pagination">
		<span class="swiper-pagination-bullet"></span>
		<span class="swiper-pagination-bullet"></span>
		<span class="swiper-pagination-bullet"></span>
		<span class="swiper-pagination-bullet"></span>
	</div>

	<div class="slider__wrapper swiper-wrapper">
		<div class="slider__img swiper-slide">
			<picture>
				<source srcset="./images/advert1.avif">
				<img src="./images/advert1.jpg" alt="advert" width="400" height="300">
			</picture>
		</div>
		<div class="slider__img swiper-slide">
			<picture>
				<source srcset="./images/advert2.avif">
				<img src="./images/advert2.jpg" alt="advert" width="400" height="300">
			</picture>
		</div>
		<div class="slider__img swiper-slide">
			<picture>
				<source srcset="./images/advert1.avif">
				<img src="./images/advert1.jpg" alt="advert" width="400" height="300">
			</picture>
		</div>
		<div class="slider__img swiper-slide">
			<picture>
				<source srcset="./images/advert2.avif">
				<img src="./images/advert2.jpg" alt="advert" width="400" height="300">
			</picture>
		</div>
	</div>

</section>
