@import "./fonts.scss";
@import "./normalize.scss";
@import "./components/index.scss";
@import "./components/page-links.scss";
@import "./components/points.scss";
@import "./components/slider.scss";
@import "./components/tabs.scss";
@import "./components/about.scss";
@import "./components/tarifs.scss";
@import "./components/profile.scss";
@import "./components/servises.scss";
@import "./components/shop.scss";
@import "./components/employees.scss";
@import "./components/conditions.scss";
@import "./components/not-accepted.scss";
@import "./components/dangerous.scss";
@import "./components/duty.scss";
@import "./components/offer.scss";

* {
	box-sizing: border-box;
}

body {
	background-color: #ffffff;
	color: var(--color-bg-primary);
	font-family: var(--ffP), sans-serif;
	overflow-x: hidden;
	touch-action: manipulation;
	user-select: auto;
	font-size: var(--fz);
	max-width: 780px;
	margin: 0 auto;
	position: relative;
	min-height: 100vh;
}

header {
	position: relative;
}

:root {
	/* colors */
	--color-default-white: #fff;
	--color-default-black: #000;
	--color-bg-primary: #3b88fb;
	--color-bg-secondary: #f1f4f8;
	--color-text-primary: #1f2f43;
	--color-text-secondary: #5d5d5d;

	--ffP: "Poppins";

	--fz: max(calc(1 * 1vw), 15px);

	//sizes
	--offset: max(calc(1.25 * 1vw), 15px);
	--offset-xxxl: calc(var(--offset) * 10);
	--offset-xxl: calc(var(--offset) * 8);
	--offset-xl: calc(var(--offset) * 7);
	--offset-l: calc(var(--offset) * 6);
	--offset-m: calc(var(--offset) * 5);
	--offset-s: calc(var(--offset) * 4);
	--hh: calc(var(--offset) * 4);
	--offset-grid: calc(var(--offset) * 4);
}

* {
	box-sizing: border-box;

	&:focus {
		outline: none;
	}

	*::before,
	*::after {
		box-sizing: inherit;
	}
}

::selection {
	background-color: #afb9c6;
	color: var(--white);
}

::-webkit-scrollbar {
	width: 0 !important;
	height: 0 !important;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 50px;
}

.container {
	padding: 0 var(--offset);
	max-width: 780px;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	user-select: text;
	word-break: break-word;
}

p {
	user-select: text;
	word-break: break-word;
}

details {
	display: block;
}

summary {
	list-style: none;
	cursor: pointer;
}

summary::-webkit-details-marker {
	display: none;
}

a {
	text-decoration: none;
	color: inherit;
	outline: none;
	text-wrap: balance;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: transparent;
	touch-action: manipulation;
	outline: none;
}

img {
	display: block;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: var(--fz);
	padding: 0;
	font-family: "Inter", sans-serif;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: transparent;
	touch-action: manipulation;
	outline: none;

	svg,
	span {
		pointer-events: none;
	}
}

input {
	font-family: var(--ffP), sans-serif;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

textarea {
	resize: none;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

[hidden],
[type="hidden"],
.visually-hidden,
.tns-visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
